<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/static/madlibs.css">
    <title></title>
</head>
<body>
    <form action='/madlib'>
    Give me a person! <input type="text" name="person"><br>
    Give me a color! <input type="text" name="color"><br>
    Give me a noun! <input type="text" name="noun"><br>
    Give me a adjective! <input type="text" name="adjective"><br>
    Give me a number! <input type="number" name="number"><br>
    Please check 2 words you like ! <br>
    <input type='checkbox' name='liked' value='apple'> Apple
    <input type='checkbox' name='liked' value='bicycle'> Bicycle
    <input type='checkbox' name='liked' value='circle'> circle
    <input type='checkbox' name='liked' value='Dog'> Dog
    <input type="submit">
    </form>

</body>
</html>